@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/**
.App{
    background-image:url(./component/banner-bg.jpg);
    background-size:"cover";
    hight:"100vh";
   }
   **/

/* color */
.bg-primary.active {
  background: #0F172A;
  @apply fixed z-10 flex justify-between w-full px-5 py-2 text-white;
}
.bg-primary{
background:transprent;
@apply fixed z-10 flex justify-between w-full px-5 py-2 text-white;
}

.bg-secondery {
  background: #1E293B;
}

.bg-accent {
  background: #7477FF;
}

.text-accent {
  color: #7477FF;
  width:auto;
} 
/*navbar*/
.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
} 

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #7477FF;
  @apply border-2 border-indigo-600 border-double;
  @apply px-5 py-1 mx-2 bg-white rounded-full;
}
/* Image animation*/
.movearrow {
  animation-name : mymove;
  animation-iteration-count : infinite;
  animation-direction : alternate;
  animation-duration : 1s;
}

@keyframes mymove {
  from {transform: translatey(0px);}
  to {transform: translatey(30px);}
}
/* home css*/
h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.5 !important;
    }

/**skill and home position**/
.skill-1{
  
margin-top: 0px;
  
 
}
.home-1{
  //background-color: #82a43a;
//background-image:url(./component/banner-bg.jpg);
 background-image:url( https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg);
 background-size: contain;
}
/** About Section  **/
.about{
  text-align: center !important;
  font-size:5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, rgb(154, 59, 218) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  
}


/* Form css */
input[type="text"]:focus ~ .input-text{
      @apply text-blue-500 bg-white transform -translate-y-9 -translate-x-0 ;
}
.unfilled .input-text {
  @apply text-blue-500 bg-white transform -translate-y-9 -translate-x-0;
}

/* social icon color */
.social-container a.facebook .fa-facebook {
  color: #3b5998;  
}

/*.social-container a.instagram .fa-instagram {
  color: #f9ce34, #ee2a7b, #6228d7;  
}*/

.social-container a.github .fa-github {
  color: #211f1f;  
}

.social-container a.linkedin .fa-linkedin {
  color: #0A66C2;  
}
/*#gram{
  width: 29px; 
  height: 30px;
  border-radius: 30%;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}*/
.insta-icon {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 20%;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}
.insta-icon:after,
.insta-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  content: ''
}
.insta-icon:before {
  border-radius: 20%
}
.insta-icon:after {
  width: 11px;
  height: 11px;
  border-radius: 50%
}

 

 